*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

input {
  all: unset;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #1b1919;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 399px;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__textfield {
  width: 225px;
  height: min-content;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  background-color: #1b1919;
  cursor: text;
  padding: 2.5px 0 2.5px 0;
  line-height: 21.6px;
  text-align: left;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset:not(:first-of-type) {
  padding-bottom: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  padding-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:first-of-type:last-of-type:hover {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  border: none;
}

.search-form__checkbox:checked + 
.search-form__pseudo-checkbox::after {
  content: "";
  background: #fff;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  margin: auto;
}

.content__details{
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald", "Arial";
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  line-height: 70.5px;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  width: 100%;
  height: 298px;
  position: relative;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: "Oswald", "Arial";
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
